/* common */
.mt_150 {
    margin-top: 150px;
}

.color_red {
    color: #b91450;
}

.back_red {
    background-color: #b91450;
}































/* debug */
.box {
    height: 200px;
}