/* common */
.mt_150 {
    margin-top: 150px;
}

.color_red {
    color: #b91450;
}

.back_red {
    background-color: #b91450;
}

.back_white {
    background-color: white;
}

form input, form select{
    border: 1px solid #b91450;
    border-radius: 5px;
    margin: 10px 0;
}

form label {
    margin: 10px 0;
}

.input_cell {
    border-radius: 10px;
}

/* #show-hide { display: none;} */






























/* debug */
.box {
    height: 200px;
}
